<app-header></app-header>

<div class="container content">
    <div class="row">
        <div class="col-lg-8 col-md-12">

            <app-search data-step="1" data-intro="This the search bar"></app-search>

            <section class="search-result" data-step="2" data-intro="This is the articles">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.ouritnews.com/single-content/5185" data-toggle="modal" data-target=".page-modal">
                                                <h6>Get ready for the worst</h6>
                                            </a>
                                            <ul class="cat">
                                                <li>
                                                    <small>2017-12-07 | SMB</small>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target=".page-modal" style="margin-right:0.5rem;">PREVIEW</button>
                                        </td>
                                        <td width="100">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control text-center" id="A5678" value="A5678">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-clipboard-target="#A5678">
                                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.ouritnews.com/single-content/5185" data-toggle="modal" data-target=".page-modal">
                                                <h6>KnowBe4-Simulated Phishing Platform</h6>
                                            </a>
                                            <ul class="cat">
                                                <li>
                                                    <small>2017-12-07 | Engineering, SMB</small>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target=".page-modal" style="margin-right:0.5rem;">PREVIEW</button>
                                        </td>
                                        <td width="100">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control text-center" id="A8546" value="A8546">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-clipboard-target="#A8546">
                                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.ouritnews.com/single-content/5185" data-toggle="modal" data-target=".page-modal">
                                                <h6>3 Technologies Changing the Game</h6>
                                            </a>
                                            <ul class="cat">
                                                <li>
                                                    <small>2017-12-07 | Education, Engineering, Enterprise, Gaming, Government,
                                                        Health, Manufacturing, Media, SMB</small>
                                                </li>
                                                <br>
                                            </ul>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target=".page-modal" style="margin-right:0.5rem;">PREVIEW</button>
                                        </td>
                                        <td width="100">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control text-center" id="A9856" value="A9856">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-clipboard-target="#A9856">
                                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.ouritnews.com/single-content/5185" data-toggle="modal" data-target=".page-modal">
                                                <h6>Pitch tech solutions to upper management – and succeed!</h6>
                                            </a>
                                            <ul class="cat">
                                                <li>2017-12-07</li>
                                                <li>Engineering</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target=".page-modal" style="margin-right:0.5rem;">PREVIEW</button>
                                        </td>
                                        <td width="100">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control text-center" id="A8975" value="A8975">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-clipboard-target="#A8975">
                                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.ouritnews.com/single-content/5185" data-toggle="modal" data-target=".page-modal">
                                                <h6>What tech items top the doctors’ Christmas wish lists?</h6>
                                            </a>
                                            <ul class="cat">
                                                <li>
                                                    <small>2017-12-07 | Health</small>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target=".page-modal" style="margin-right:0.5rem;">PREVIEW</button>
                                        </td>
                                        <td width="100">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control text-center" id="A7854" value="A7854">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-clipboard-target="#A7854">
                                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.ouritnews.com/single-content/5185" data-toggle="modal" data-target=".page-modal">
                                                <h6>Pitch tech solutions to upper management – and succeed!</h6>
                                            </a>
                                            <ul class="cat">
                                                <li>
                                                    <small>2017-12-07 | Education, Engineering, Enterprise, Gaming, Government,
                                                        Health, Manufacturing, Media, SMB</small>
                                                </li>
                                                <br>
                                            </ul>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target=".page-modal" style="margin-right:0.5rem;">PREVIEW</button>
                                        </td>
                                        <td width="100">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control text-center" id="A6248" value="A6248">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-clipboard-target="#A6248">
                                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.ouritnews.com/single-content/5185" data-toggle="modal" data-target=".page-modal">
                                                <h6>Infographic: 10 employee productivity tips</h6>
                                            </a>
                                            <ul class="cat">
                                                <li>2017-12-07 | </li>
                                                <li>Engineering</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target=".page-modal" style="margin-right:0.5rem;">PREVIEW</button>
                                        </td>
                                        <td width="100">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control text-center" id="A1258" value="A1258">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-clipboard-target="#A1258">
                                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.ouritnews.com/single-content/5185" data-toggle="modal" data-target=".page-modal">
                                                <h6>Check Security Solutions</h6>
                                            </a>
                                            <ul class="cat">
                                                <li>
                                                    <small>2017-12-07 | SMB</small>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target=".page-modal" style="margin-right:0.5rem;">PREVIEW</button>
                                        </td>
                                        <td width="100">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control text-center" id="A3746" value="A3746">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-clipboard-target="#A3746">
                                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.ouritnews.com/single-content/5185" data-toggle="modal" data-target=".page-modal">
                                                <h6>The business benefits of mobile printing</h6>
                                            </a>
                                            <ul class="cat">
                                                <li>
                                                    <small>2017-12-07 | SMB</small>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target=".page-modal" style="margin-right:0.5rem;">PREVIEW</button>
                                        </td>
                                        <td width="100">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control text-center" id="A9764" value="A9764">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-clipboard-target="#A9764">
                                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.ouritnews.com/single-content/5185" data-toggle="modal" data-target=".page-modal">
                                                <h6>Use data to deliver powerful, targeted marketing messages</h6>
                                            </a>
                                            <ul class="cat">
                                                <li>
                                                    <small>2017-12-07 | Enterprise</small>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target=".page-modal" style="margin-right:0.5rem;">PREVIEW</button>
                                        </td>
                                        <td width="100">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control text-center" id="A4685" value="A4685">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-clipboard-target="#A4685">
                                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </section>

        </div>
        <div class="col-lg-4 col-md-12">

            <app-sidebar></app-sidebar>

        </div>
    </div>
</div>


<app-footer></app-footer>