@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/font-awesome/css/font-awesome.min.css";


// boostrap overides
$primary: #233969;
$primarydk: darken($primary, 1%);
body {
    // background-color: #f8f9fa;
    color: #90A4AE;
    position: relative; // color: #333333;
    margin-top: 56px;
    margin-bottom: 100px;;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    .navbar-brand {
        text-transform: uppercase;
    }
    .navbar-nav {
        .nav-item {
            margin-left: 0.3rem;
            margin-right: 0.3rem;
            .btn {
                margin-top: 3px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.navbar-light {
    background-color: #ffffff !important;
}

.navbar-light .navbar-brand {
    color: $primary;
    background-color: #ffffff !important;
    small {
        color: $primary;
    }
}


ul.mainnav li {
    display: inline-block;
    ;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 0.8rem;
    font-weight: 600;
}

.table {
    font-size: 0.8rem;
    thead {
        background-color: #FAFAFA !important;
    }
    tfoot {
        tr {
            td {
                .pagination {
                    margin-top: 0.5rem;
                    .page-count {
                        color: #90A4AE;
                        &:hover {
                            background: #ffffff;
                        }
                    }
                }
            }
        }
    }
    tr {

        th {
            font-size: 0.9rem;
            font-weight: 600;
            color: $primary;
            line-height: 0.9rem;
        }
        td {
            vertical-align: middle;
            // .btn-sm {
            //     // padding: 0 .5rem;
            // }
        }
    }
}

.content {
    padding-top: 1.5rem;
}

.searchField {
    .card {
        .card-body {
            padding: .5rem 1.5rem 0 1.5rem;
            .fltr {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

.search-result {
    .table {
        tr {
            td {
                .table {
                    margin: 0;
                    padding: 0;
                    border: none;
                    margin: 0;
                    vertical-align: top;
                    // text-align: right;
                    tr {
                        td {
                            margin: 0;
                            padding: 0;
                            border: none;
                            h6 {
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
                .cat {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.advancedFilter {
    .card {
        .card-body {
            padding: 0.5rem .85rem .85rem;
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #fafafa;
}


.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    .btn-dark {
        background-color: $primary;
        &:hover {
            background-color: $primarydk;
        }
    }
}


.login-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.25rem;
    font-weight: 600;
    color: $primary;
    small {
        text-transform: uppercase;
        font-size: 1rem;
    }
}

.form-group {
    label {
        text-transform: uppercase;
        font-size: 0.8rem;
        line-height: 0.9rem;
        font-weight: 600;
        color: #90A4AE;
        color: $primary;
    }
    small {
        font-size: 75% !important;
        color: #90A4AE;
    }
}

// .daterangepicker {
//     position: relative;
//     top: 100px !important;
// }
.view-edit {
    margin-bottom: 1.75rem;
    .card {
        .card-body {
            padding-top: 1.75rem;
            padding-bottom: .75rem;
        }
    }
}


.body-login {
    background-color: #fafafa;
}

.linkedin-signin {
    max-width: 360px;
    padding: 0 15px;
    margin: 0 auto; // background-color: #ffffff;
    // box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
    .head {
        color: $primary;
        text-align: center;
        h1 {
            text-transform: uppercase;
            font-size: 1.5rem;
        }
        p {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 0.8rem;
            line-height: 0.8rem;
            font-weight: 700;
        }
    }
    .bgimage {
        background-color: #ffffff;
        padding: 0;
        display: block;
        ;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
        img {
            margin-bottom: 0.75rem;
        }
        h1 {
            color: $primary;
            font-weight: 200;
            color: #ffffff;
            font-size: 1.8rem;
        }
    }
    .button {
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        background-color: #ffffff;
        h1 {
            color: $primary;
            font-weight: 200;
        }
        p {
            font-size: 0.75rem;
        }
        a {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 215px;
        }
    }
}

.fourofour {
    text-align: center;
    img {
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }
    h4 {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $primary;
    }
    .title {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 0.8rem;
        font-weight: 700;
        color: $primary;
    }
}


@media screen and (max-width: 991px) {
    // .table {
    //     tr {
    //         th {
    //             display: block;
    //             display: none;
    //         }
    //     }
    //     tr {
    //         td {
    //             display: block;
    //             border-color: #ffffff;
    //             padding: 0.2rem 15px;
    //             span {
    //                 font-weight: bold;
    //                 margin-right: 10px;
    //                 // width: 30%;
    //                 display: inline-block;
    //                 // text-indent: -15px;
    //             }
    //             .btn-sm {
    //             padding: .25rem .5rem;
    //         }
    //         }
    //         td:first-child {
    //             border-top-color: #e8ebef;
    //             padding-top: 1rem;
    //         }
    //         td:last-child {
    //             border-bottom-color: #e8ebef;
    //             padding-bottom: 1rem;
    //         }
    //     }
    // }
    // .table{
    //     &.table-hover {
    //         tr:hover {
    //             td {
    //                 border-color: #ececec;
    //             }
    //         }
    //         tr {
    //             td:hover {
    //                 // border-color: #ececec;
    //             }
    //         }
    //     }
    // }
}

@media screen and (min-width: 767px) {
    // .table {
    //     tr {
    //         td {
    //             span {
    //                 display: none;
    //             }
    //         }
    //     }
    // }
}

.form-control:disabled,
.form-control[readonly] {
    background: #ffffff;
    border-radius: 0;
    color: #000000;
    border-color: #ffffff;
    padding-left: 0;
}

.card {
    margin-bottom: 1.5rem;
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.show {
    // display: inline;
    visibility: visible;
    opacity: 1;
}

.modal-dialog-center {
    margin-top: 15%;
}









.cat-wrapper {
    display: table;
    .cat-col {
        width: 50%;
        float: left;
    }
    .right {
        border-left: 1px solid #fff;
    }
}








.checkbox-wrapper {
    // margin-bottom: 0.5rem;
    input[type='checkbox'] {
      position: absolute;
      left: -9999px;
    }
}

label.checkbox {
  display: block;
  position: relative;
  margin: 0;
  // margin-bottom: 1px;
  padding: 10px 30px 10px 28px;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #007bff;
  background-color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
}

label.checkbox::before {
  content: '';
  display: block;
  position: absolute;
  top: 11px;
  bottom: 10px;
  left: 10px;
  width: 13px;
  height: 13px;
  border: 1px solid #dddddd;
  border-radius: 100px;
  transition: background-color .2s;
}

// label.checkbox:first-of-type {
//   transform: translateX(-40px);
// }

// label.checkbox:last-of-type {
//   transform: translateX(40px);
// }

// label.checkbox:hover, input:focus + label.checkbox {
//   box-shadow: 0 0 20px rgba(0, 0, 0, .6);
// }


input:checked + label.checkbox {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 30px 10px 28px;
}

input:checked + label.checkbox::before {
  content: '';
  display: block;
  position: absolute;
  top: 11px;
  bottom: 10px;
  left: 10px;
  width: 13px;
  height: 13px;
  border: 1px solid #007bff;
  border-radius: 100px;
  transition: background-color .2s;
}

input:checked + label.checkbox::before {
  background-color: #007bff;
  border: 5px solid #ffffff;
}

.copied {
    color: green;
    display: none;
}

.search-result {
  transition: all 1.0s ease;
}